[user]
	name = Chad Reynolds
	email = cjreynol13@aol.com
[core]
	editor = vim
	excludesfile = /Users/chadreynolds/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[merge]
    summary=true
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[url "http://github.com/ghc/packages-"]
	insteadOf = http://github.com/ghc/packages/
[url "https://github.com/ghc/packages-"]
	insteadOf = https://github.com/ghc/packages/
[url "ssh://git@github.com/ghc/packages-"]
	insteadOf = ssh://git@github.com/ghc/packages/
[url "git@github.com:/ghc/packages-"]
	insteadOf = git@github.com:/ghc/packages/
