# change tab completion to cycle through options
# ctrl-p does not work exactly right
Control-N:  menu-complete
Control-P:  menu-complete-backward

# vi editing
set show-mode-in-prompt on
set editing-mode vi
